*.pyc
*~
__pycache__
venv
.idea
db.sqlite3
.DS_Store
*.log
local_settings.py
media/banner
media/products
local_settings.py
static/admin/
static/admin_tools/
static/css/
static/js/
vkbot_schedule/migrations
sch-worker.log
sch-beat.log
celerybeat.pid
celerybeat-schedule